* { /* Clear browser specific formatting */
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 150vh;
    grid-template-rows: auto 1fr auto;
    font: 15px "Lato", sans-serif;
    /* Background Properties */
    background-color: black;
    color:white;
}

header {
    /* Background img Properties */
    background-image: url('/img/b-rain.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    /* Justification & Alignment */ 
    padding: 1em;
    min-height: 100vh;
}

.headingSep {
    background-color: white;
    text-align: center;
    padding: 25px;
    color:black;
}

.headerTxtStyle {
    background-color: black;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    width: fit-content;
}

.logo {
    margin-top: 25px;
    margin-bottom: 125px;
}

.headerTxtStyle:hover, p:hover, h3:hover {
    color: lime;
    cursor:default;
}

main {
    /* Background img Properties */
    background-image: url('/img/hue2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    /* Justification & Alignment */ 
    text-align: center;
}

p {
    padding: 15px 30px 15px 30px;
    line-height: 2em;
}

h4 {
    letter-spacing: .5em;
}

footer {
    background-color: white;
    /* Justification & Alignment */ 
    text-align: center;
    padding: 1em;
    color:black;
}

#logo {
    margin-right: auto;
}

/* Nav Styles */

.nav_container {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
}

.nav_container li {
    list-style-type: none;
}

.nav_container a {
    display: inline-block;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    color:black;
}

.nav_container a:hover {
    background-color: lightgray;
}