/* Basic styling */
* { 
    box-sizing: border-box; /* Padding and Border are included in the width & height */
    /* Clear browser specific formatting */
    margin: 0;
    padding: 0;
}

body {
    font: 15px "Lato", sans-serif;
    color:white;
    /* Background Properties */
    display: grid;
    height: 150vh;
    grid-template-rows: auto 1fr auto;
    background-color: black;
}

/* NAV Styles */

nav {
    background-color: white;
    padding: 0 15px; 
}

a {
    color:black;
    text-decoration: none;
}

/* Mobile NAV menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu a:hover {
    background-color: lightgray;
}

.menu li a {
    display: block;
    padding: 15px 10px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    /* padding: 10px; */
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

/* Tablet NAV menu */

@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 1;
    }
}

/* Desktop NAV menu */

@media all and (min-width: 960px) {
    .menu {
        align-items:flex-start;
        flex-wrap: nowrap;
        background: none;
        justify-content: end;
    }
    .logoTxt {
        margin-right: auto;
        letter-spacing: .2em;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
}

header {
    /* Background img Properties */
    background-image: url('/img/b-rain.png');
    background-size:cover;
    background-repeat: no-repeat;
    /* Justification & Alignment */ 
    padding: 1em;
    min-height: 100vh;
}

.headingSep {
    background-color: white;
    text-align: center;
    padding: 25px;
    color:black;
    cursor:default;
}

.headerTxtStyle {
    background-color: black;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    width: fit-content;
    cursor:default;
}

.logoIcon {
    margin-top: 25px;
    margin-bottom: 125px;
}

.txtContrastOverlay:hover {
    color: lime;
    cursor:default;
    background-color: hsla(0, 0%, 0%, 0.392);
}

main {
    /* Background img Properties */
    background-image: url('/img/hue2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    /* Justification & Alignment */ 
    text-align: center;
}

/* Three Column Grid */

/* container */
.responsive-three-column-grid {
    display:block;
}

/* columns */
.responsive-three-column-grid > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.infoBox {
    border: 1px solid white;
    cursor:default;
}

.mainImg {
    /* Center Header Logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Adjust Logo Size */
    width: 40%;
    border: 1px solid white;
}

/* EDU Section Styles */

.eduSection {
    display: flex;
    gap: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.eduArticle {
    flex: 1;
    border-radius: 1rem;
}

main .eduArticle {
    padding-left: 1rem;
    padding-right: 1rem;
}

.edu {
    max-width: 1200px;
    margin: auto;
    display: grid;
    gap: 1rem;
    padding: 15px;
  }

  @media (min-width: 600px) {
    .edu { grid-template-columns: repeat(1, 1fr); }
  }

  @media (min-width: 900px) {
    .edu { grid-template-columns: repeat(3, 1fr); }
  }

/* Project Section Styles */ 

.card {
    border: 1px solid white;
    color: white;
    padding: 1rem;
    height: 4rem;
  }

  .cards {
    max-width: 1200px;
    margin: auto;
    display: grid;
    gap: 1rem;
    padding: 15px;
  }

  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }

p {
    padding: 15px 30px 15px 30px;
    line-height: 2em;
}

h4 {
    letter-spacing: .5em;
}

footer {
    background-color:white;
    /* Justification & Alignment */ 
    text-align: center;
    padding: 1em;
    color:black;
}

.contactUs {
    display: block;
}

.socialLinks {
    padding: 10px;
}

/* Fade in Animation */

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1.5s fadeInUp;
  }
  